div {

}
.container {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar {
  width: 100%;
  float: left;
  position: relative;
  height: 100vh;
}

.content {
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  float: right;
}

.title {
  margin: 0;
}